---
layout: page
description: "Mostly just adventures in code."
paginate: 5
header-img: "img/backgrounds/explore-bg.jpg"

---
{% assign featured_shown = false %}
{% if paginator.page == 1 %}
    {% for post in site.posts | limit:5 %}
    {% if post.published and featured_shown == false %}
    {% assign featured_shown = true %}
    <div class="post-preview jumbotron">
        
        <h2 class="post-title">            
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.subtitle %}
        <em class="post-subtitle">
            {{ post.subtitle }}
        </em>
        {% endif %}
        <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %d, %Y" }}</p>
        {% if post.TAGS %}
            {% for tag in post.TAGS %}
                <a href="/tag/{{ tag | slugify}}"><span class="label label-default">{{ tag }}</span></a>
            {% endfor %}
        {% endif %}
        <p>{{post.excerpt}}</p>
        <p class="text-right"><a class="btn btn-primary btn-lg" href="{{ post.url | prepend: site.baseurl }}" role="button">Read more</a></p>
    </div>
    <div class="clearfix"></div>
    <hr>
    {% endif %}
    {% endfor %}
{% endif %}

{% for post in paginator.posts %}
    {% if not_first == true %}
    <div class="post-preview ">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">            {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %d, %Y" }}</p>
        {% if post.TAGS %}
            {% for tag in post.TAGS %}
                <a href="/tag/{{ tag | slugify}}"><span class="label label-default">{{ tag }}</span></a>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
    {% endif %}
{% assign not_first = true %}
{% endfor %}

<ul class="pager">
    
    {% if paginator.next_page_url %}
    <li class="previous">    
        <a href="{{ paginator.next_page_url | prepend: site.baseurl | replace: 'index.html', '' | replace: '//', '/' }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if paginator.previous_page_url %}
    <li class="next"> 
        <a class="pagination-item newer" href="{{ paginator.previous_page_url | prepend: site.baseurl | replace: 'index.html', '' | replace: '//', '/' }}">Newer &rarr;</a>
    </li>
        
    {% endif %}
</ul>
