---
layout: page
---
{% assign title = "Categories" %}
<div>
  <h1>{{page.category}}</h1>
  {% for t in site.categories %}
    {% if t.Name == page.category %}
      {% for post in t.posts reverse %}
      <div class="post-preview ">
          <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">            {{ post.title }}
              </h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">
                  {{ post.subtitle }}
              </h3>
              {% endif %}
          </a>
          <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %d, %Y" }}</p>
          {% if post.TAGS %}
              {% for tag in post.TAGS %}
                  <a href="/tag/{{ tag | slugify}}"><span class="label label-default">{{ tag }}</span></a>
              {% endfor %}
          {% endif %}
      </div>
      <hr>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>